{% extends 'base.html.twig' %}

{% block title %}Winner result!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Game play results</h1>

    and the winner is ...
    <ul>
        <li>Player 1 has won {{player1Wins}} hands</li>
        <li>Player 2 has won {{player2Wins}} hands</li>
    </ul>
    {% if (player1Wins>player2Wins) %}
        <h2>Player 1 win</h2>
    {% else %}
        <h2>Player 2 win</h2>
    {% endif %}
</div>
{% endblock %}
