{% extends 'base.html.twig' %}

{% block title %}Winner result!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Game play results</h1>

    and the winner is ...
    <ul>
        <li>Player 1 has won {{player1Wins}} hands</li>
        <li>Player 2 has won {{player2Wins}} hands</li>
    </ul>
    {% if (player1Wins>player2Wins) %}
        <h2>Player 1 win</h2>
    {% else %}
        <h2>Player 2 win</h2>
    {% endif %}
</div>
{% endblock %}
