{# templates/test/loadfile.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Poker test for United.Remote!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello United Remote!</h1>

    Please upload your Poker hands txt file
    <form action="doUpload" method="post" enctype="multipart/form-data">

    <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

    <div>
       
        <input type="file" name="myfile">
    </div>

    <button type="submit">Send</button>

    </form>
</div>
{% endblock %}
